##SUBMITTED BY - DIVEYESH

#**Question-1**

In [1]:
string_1 = "diveyesh"

In [2]:
list_1 = ["diveyesh",1,True]

In [3]:
float_1 = 2.5

In [4]:
tuple_1 = (1,2,"diveyesh")

#**Question-2**

In [ ]:
var1 = "" #string
type(var1)

str

In [ ]:
var2 = '[DS,ML,Python]' #string
type(var2)

str

In [ ]:
var3 = ['DS','ML','Python'] #list
type(var3)

list

In [ ]:
var4 = 1  # int
type(var4)

int

#**Question-3**

In [ ]:
10/2 #Divison. Used for division of numbers.

5.0

In [ ]:
5%2 #Modulo operator. Used to find the remainder while dividing.

1

In [ ]:
5//2 #Floor division.This operator will divide the first argument by the second and round the result down to the nearest whole number.

2

In [ ]:
2**2 #Exponentiation.Exponentiation is a mathematical operation, often called raising a number to a power, where a given number is multiplied by itself a given number of times.

4

#**Question-4**

In [ ]:
list_1 =[1,2,3,"diveyesh",5,True,"data science",6+7j,False,6.0]

In [ ]:
for i in list_1:
  print(i)
  print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
diveyesh
<class 'str'>
5
<class 'int'>
True
<class 'bool'>
data science
<class 'str'>
(6+7j)
<class 'complex'>
False
<class 'bool'>
6.0
<class 'float'>

#**Question-5**

In [6]:
variable_a = int(input("kindly enter the first number"))
variable_b = int(input("kindly enter the second number"))

kindly enter the first number8
kindly enter the second number3

In [7]:
count = 0
while variable_a % variable_b == 0:
  variable_a = variable_a/variable_b
  count += 1
if count > 0:
  print(f"First number is fully divided by second number. {count} times")
else:
  print("First number is not fully divided by Second number")

First number is not fully divided by second number

#**Question-6**

In [17]:
list_2 = list(range(1,26))

In [18]:
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [19]:
for i in list_2:
  if i%3 == 0:
    print(f"{i} is divisible by 3")
  else:
    print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

#**Question-7**

In [ ]:
#Mutable objects are those that allow you to change their value or data in place without affecting the object’s identity. 
#In contrast, immutable objects don’t allow this kind of operation.

In [ ]:
#mutable
list_1 = [1,2,3,4,5]
list_1[0] = 6
print(list_1)

[6, 2, 3, 4, 5]

In [ ]:
#immutable
string_1 = "diveyesh"
string_1[0] = "i"